<nav class="navbar">
    <ul>
        <li
            routerLink=""
            class="itemLink"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            {{ 'home' | translate }}
        </li>
        <li
            routerLink="about"
            class="itemLink"
            routerLinkActive="active"
        >
            {{ 'about' | translate }}
        </li>
        <li
            routerLink="projects"
            class="itemLink"
            routerLinkActive="active"
        >
            {{ 'projects' | translate }}
        </li>
    </ul>
    <div class="navbar__wrapBtns">
        <button class="active" (click)="onSaveInLocalStorage()">
            <img src="./assets/img/mexico-flag.png">
        </button>
        <button class="active" (click)="onSaveInLocalStorage()">
            <img src="./assets/img/usa-flag.png">
        </button>
    </div>
</nav>
